<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <title></title>
    <meta charset="utf-8" />

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>

</head>
<body>
    <div ng-controller="AppController">
        <a href="#" ng-click="downloadFile('pdf')">Download Pdf File</a>
        <br />
        <a href="#" ng-click="downloadFile('zip')">Download Zip File</a>
    </div>
</body>
</html>
